services:
  postgres:
    image: postgres
    container_name: city_explorer_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data

  app:
    image: nginx
    container_name: city_explorer_app
    ports:
      - "8000:80"
    networks:
      - app-network
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared
    container_name: city_explorer_cloudflared
    command: tunnel --config /etc/cloudflared/config.yml run
    volumes:
      - ./cloudflared:/etc/cloudflared
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
